<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% comment %} <h1>hello there {{ name }}</h1> {% endcomment %}
        <script src="" async defer></script>
        {% if name %}
        <h2>hell yeah {{ name }}</h2>
        {% else %}
        <h2>hell no buddy</h2>
        {% endif %}
        {% comment %} {% for user in users %} {% endcomment %}
    </body>
</html>