{% if emiss_data1 %}
<h2>Result: {{ emiss_data1.c02 }} CO2 in {{ emiss_data1.c02_unit }}</h2>
<h2> via {{ emiss_data1.emiss_factor }}  </h2>
{% endif %} 

{% if emiss_data2 %}

<H4>Query Description: </h4> 
    <p>{{ emiss_data2.description }}  </p>
<p> Query Emission: {{ emiss_data2.c02 }} CO2 per {{ emiss_data2.unit }} </p>
<p class="text-muted">Category: {{ emiss_data2.category }} </p>
    {% if emiss_data2.source_data %}
    <p class="text-muted">Data Source: {{ emiss_data2.source_data }} </p>
    {% endif %} 
{% endif %} 

{% comment %} {% if emiss_data3 %}
{% endif %}  {% endcomment %}

