{% extends "base.html" %}

{% block content %}
<div class="shadow p-4 mb-5 bg-body rounded">
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16" >
        <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"/>
        </svg>
        Flight Travel Tracker
    </h1>
    <span class="text-gray-500 align-left text-xs mb-1">Look up IATA codes for flights
        <a rel="noreferrer" class="underline text-blue-500" target="_blank" href="https://www.iata.org/en/publications/directories/code-search/">here</a></span>
    <br>
    <br>
    <form action='' method="POST" >  
        {% csrf_token %}
        
        {% comment %} <input type="text" name="travel" placeholder="travel type" required> {% endcomment %}

        <select class="form-select m-3" name="travel" aria-label=".form-select-lg example" required>
            <option disabled selected value>Required: Choose mode of transport</option>
            <option value="flights">Personal Flights</option>  
        </select>  

        
        <input type="text" name="leg_from" placeholder="from" required>
        <input type="text" name="leg_to" placeholder="to" required>
        <input type="number" name="passengers" placeholder="Number of Travellers" required>
        {% comment %} <input type="text" name="travel_class" placeholder="flight class" required>  {% endcomment %}
        <select class="form-select m-3" name="travel_class" aria-label=".form-select-lg example" id="travel_class" required>
        <option disabled selected value>Required: Choose flight class</option>
            {% for option in flight_class %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
            
        </select>
        <input type="submit" value="Submit">
        

        {% if error_message %}
        <div class="error">{{ error_message }} unavailable</div>
        {% endif %}

        

        {% comment %} <button type="submit" class="btn btn-primary">Show Co2</button> {% endcomment %}

    </form>

    <br>



    {% if flight_tracker %}
    <div class="city-cotainer">
        <h4> Here are the results of your flight tracker query: <h3>
        <p> co2 level: {{ flight_tracker.c02 }} {{ flight_tracker.unit }}'s of CO2 </p>
            <p> {{ flight_tracker.activity_value }} distance per {{ flight_tracker.activity_unit }}</p>
    </div>
    {% endif %}
    
</div>

{% endblock%}